# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
.vscode/

# Documentation
README.MD
HELP.md

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log

# Tests
src/test/

# OS
.DS_Store
Thumbs.db
